

@font-face {
    font-family: 'proxima_novabold';
    src: url('/css/fonts/proximanova-bold-03-webfont.woff2') format('woff2'),
         url('/css/fonts/proximanova-bold-03-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular';
    src: url('/css/fonts/proximanova-regular-01-webfont.woff2') format('woff2'),
         url('/css/fonts/proximanova-regular-01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaitalic';
    src: url('/css/fonts/proximanova-regularit-02-webfont.woff2') format('woff2'),
         url('/css/fonts/proximanova-regularit-02-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}